<div id="dogsView" data-breeds="{{breeds}}" data-size="{{size}}" data-petkey="{{petfinderKey}}"></div>

<div id="mapContainer" data-mapskey="{{googlemapsKey}}">
    <h5>Click a term to search dog-friendly locations in your area: <div id='mapZip'>{{zip}}</div></h5>
    <button class="mapButton" value="dog park">Dog Parks</button>
    <button class="mapButton" value="pet-friendly restaurant">Pet Friendly Restaurants</button>
    <button class="mapButton" value="pet store">Pet Stores</button>
    <div id="map"></div>
</div>